<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>
	Sistema de Inventario</title>
  <link rel="stylesheet" href="../libs/css/estilos.css" />
  <link rel="stylesheet" href="../libs/css/main.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<body>
  <header id="header">
      <div class="logo"> SIST-INVENT </div>
           <div class="header-date-up">
            hola
            </div>
             <div class="header-user">
              Usuario
            </div>
  </header>
  
      <div class="sidebar"></div>

      <!--<div class="contenido">
        CONTEINDO
      </div>-->

      <div class="panel-control">
        <article class="full-width tile">
        <div class="tile-text">
          <span class="text-condensedLight">
            2<br>
            <small>Administradores</small>
          </span>
        </div>
        <div class="tile-icon bg-success">
            <i class="fas fa-users tile-icon-int"></i>
        </div>
      </article>
      
      <article class="full-width tile">
        <div class="tile-text">
          <span class="text-condensedLight">
            9<br>
            <small>Categorias</small>
          </span>
        </div>
        <div class="tile-icon bg-danger">
            <i class="fab fa-elementor tile-icon-int "></i>
        </div>
      </article>
      <article class="full-width tile">
        <div class="tile-text">
          <span class="text-condensedLight">
            121<br>
            <small>Productos</small>
          </span>
        </div>
         <div class="tile-icon bg-info">
            <i class="fab fa-product-hunt tile-icon-int "></i>
          </div>
      </article>
      <article class="full-width tile">
        <div class="tile-text">
          <span class="text-condensedLight">
            47<br>
            <small>Ventas</small>
          </span>
        </div>
          <div class="tile-icon bg-yellow">
            <i class="fab fa-sellsy tile-icon-int"></i>
          </div>
      </article>

      <!--TABLAS-->

      <div class="tablas">
        <div class="tabla ">
          <div class="encabezado">
            <i class="fas fa-th table-icon"></i>
              <p>MAS VENDIDOS</p>
          
          </div>
          <div class="contenedor-tabla">
          <table border="1px" class="tabla-pro">
          <thead>
            <tr>
              <th>Titulo</th>
              <th>Total vendido</th>
              <th>Cantidad</th>
            </tr>
          </thead>
            <tbody>
            <?php foreach ($products_sold as  $product_sold): ?>
              <tr>
                <td><?php echo remove_junk(first_character($product_sold['name'])); ?></td>
                <td><?php echo (int)$product_sold['totalSold']; ?></td>
                <td><?php echo (int)$product_sold['totalQty']; ?></td>
              </tr>
            <?php endforeach; ?>
          </tbody>
        </table>
          </div>
         
        </div>
        <div class="tabla ">
           <div class="encabezado">
            <i class="fas fa-th table-icon"></i>
              <p>ULTIMAS VENTAS</p>
          </div>
          <div class="contenedor-tabla">
          <table border="1px" class="tabla-pro">
          <thead>
            <tr>
              <th>#</th>
              <th>Producto</th>
              <th>Fecha</th>
              <th>Venta Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <?php foreach ($recent_sales as  $recent_sale): ?>
         <tr>
           <td class="text-center"><?php echo count_id();?></td>
           <td>
            <a href="edit_sale.php?id=<?php echo (int)$recent_sale['id']; ?>">
             <?php echo remove_junk(first_character($recent_sale['name'])); ?>
           </a>
           </td>
           <td><?php echo remove_junk(ucfirst($recent_sale['date'])); ?></td>
           <td>$<?php echo remove_junk(first_character($recent_sale['price'])); ?></td>
        </tr>

       <?php endforeach; ?>
            </tr>
          </tbody>
            
        </table>
          </div>
        </div>
        <div class="tabla">
           <div class="tabla-encabezado">
            <i class="fas fa-th table-icon"></i>
              <p>PRODUCTOS RECIENTES</p>
          </div>
          <div class="contenedor-tabla">

          <table border="1px" class="tabla-datos">
          <thead>
            <tr>
              <th>Imagen</th>
              <th>Nombre</th>
              <th>Precio</th>
            </tr>
          </thead>
            <a href="edit_product.php?id=<?php echo(int)$recent_product['id'];?>">
            <tr>
              <td><a href="#"></a>
              <img class="img-avatar img-circle" src="uploads/products/<?php echo $recent_product['image'];?>" alt="" />
              </td>
              <td><?php echo remove_junk(first_character($recent_product['name']));?></td>
              <td>$ <?php echo (int)$recent_product['sale_price']; ?></td>
            </tr>
            
          </a>
        </table>
          </div>
        </div>
        
      </div>

      </div>



</body>
</html>